.new-page {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;

      h1 {
        color: lightgray;
        font-size: 20px;
      }

      .left {
        flex: 1;
        text-align: center;

        .icona {
          margin-top: 40%;
          width: 400px;
          height: 300px;
          border-radius: 0%;
          color: green;
        }
      }

      .right {
        flex: 2;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-between;
          width: 70%;
          .formInput {
            margin-right: 40%;
            margin-top: 20px;
            width: 80%;
            label {
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 20px;
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }
          }

          button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
            border-radius: 20px;
            margin-top: 80px;
          }
        }
      }
    }
  }

  .custom-select__input {
    padding: 6px;
    border: 1px solid #48a155;
    border-radius: 4px;
    background-color: #ffffff;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #48a155;
    cursor: pointer;

    top: 50%;
    right: 10px;
  }
}
